[submodule "formal"]
	path = formal
	url = https://github.com/DhrishP/portfolio-formal
[submodule "glitch"]
	path = glitch
	url = https://github.com/DhrishP/gltich-portfolio
[submodule "parallax"]
	path = parallax
	url = https://github.com/DhrishP/Parallax-website
[submodule "minimalistic"]
	path = minimalistic
	url = https://github.com/DhrishP/MinimalisticPortfolio
[submodule "mini-blog"]
	path = mini-blog
	url = https://github.com/DhrishP/buildspace-procast-website
